<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>New session</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Page header-->
<div class="page-header">

    {% include 'blocks/nav.html' %}
    <h1 align="center">CAT10e</h1>
</div>

<div align="center">
    <form method="post">
        {% csrf_token %}
        <div class="col-sm-3" style="background-color: #FFFFFF"></div>
        <div class="col-sm-6" style="background-color: #FFFFFF">
            <h2>Register a new testing session:</h2>
            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form"
                     style="background-color: #d5eef3">
                    <div class="form-group">
                        <!-- Name -->
                        <label for="name" class="col-xs-3 control-label">Driver:</label>
                        <div class="col-sm-7">
                            {{ form.driver }}
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Location -->
                        <label for="Location" class="col-xs-3 control-label">Location:</label>
                        <div class="col-sm-7">
                            {{ form.location }}
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Event -->
                        <label for="Event" class="col-xs-3 control-label">Event:</label>
                        <div class="col-sm-7">
                            {{ form.event }}
                        </div>
                    </div>


                    <div class="form-line" data-type="control_divider" id="id_9">
                        <div id="cid_9" class="form-input-wide">
                            <div data-component="divider"
                                 style="border-bottom:3px solid #ffffff;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px;">
                            </div>
                        </div>
                        <p align="center" style="font-size: medium">POWERTRAIN PARAMETERS</p>
                        <div id="cid_9" class="form-input-wide">
                            <div data-component="divider"
                                 style="border-bottom:3px solid #ffffff;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px;">
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <!-- Mode -->
                        <label for="Event" class="col-sm-3 control-label">Mode:</label>
                        <div class="col-sm-7">
                            {{ form.mode }}
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Cont current -->
                        <label for="Event" class="col-sm-3 control-label">Continuous current:</label>
                        <div class="col-sm-3">
                            {{ form.cont_current_p }}
                        </div>

                        <!-- Peak current -->
                        <label for="Event" class="col-sm-3 control-label">Peak current:</label>
                        <div class="col-sm-3">
                            {{ form.peak_current_p }}
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- KP current -->
                        <label for="Event" class="col-sm-3 control-label">KP current:</label>
                        <div class="col-sm-3">
                            {{ form.kp_current }}
                        </div>

                        <!-- TI current -->
                        <label for="Event" class="col-sm-3 control-label">TI current:</label>
                        <div class="col-sm-3">
                            {{ form.ti_current }}
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- KP speed -->
                        <label for="Event" class="col-sm-3 control-label">KP speed:</label>
                        <div class="col-sm-3">
                            {{ form.kp_speed }}
                        </div>

                        <!-- TI speed -->
                        <label for="Event" class="col-sm-3 control-label">TI speed:</label>
                        <div class="col-sm-3">
                            {{ form.ti_speed }}
                        </div>
                    </div>


                    <div class="form-line" data-type="control_divider" id="id_9">
                        <div id="cid_9" class="form-input-wide">
                            <div data-component="divider"
                                 style="border-bottom:3px solid #ffffff;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px;">
                            </div>
                        </div>
                        <p align="center" style="font-size: medium">DYNAMIC PARAMETERS</p>
                        <div id="cid_9" class="form-input-wide">
                            <div data-component="divider"
                                 style="border-bottom:3px solid #ffffff;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px;">
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <!-- Front Camber -->
                        <label for="Event" class="col-sm-3 control-label">Front Camber:</label>
                        <div class="col-sm-3">
                            {{ form.front_camber }}
                        </div>

                        <!-- Rear Camber -->
                        <label for="Event" class="col-sm-3 control-label">Rear Camber:</label>
                        <div class="col-sm-3">
                            {{ form.rear_camber }}
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Front Toe -->
                        <label for="Event" class="col-sm-3 control-label">Front Toe:</label>
                        <div class="col-sm-3">
                            {{ form.front_toe }}
                        </div>

                        <!-- Rear Toe -->
                        <label for="Event" class="col-sm-3 control-label">Rear Toe:</label>
                        <div class="col-sm-3">
                            {{ form.rear_toe }}
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Front Pressure -->
                        <label for="Event" class="col-sm-3 control-label">Front Pressure:</label>
                        <div class="col-sm-3">
                            {{ form.front_pressure }}
                        </div>

                        <!-- Rear Pressure -->
                        <label for="Event" class="col-sm-3 control-label">Rear Pressure:</label>
                        <div class="col-sm-3">
                            {{ form.rear_pressure }}
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Front Height -->
                        <label for="Event" class="col-sm-3 control-label">Front Height:</label>
                        <div class="col-sm-3">
                            {{ form.front_height }}
                        </div>

                        <!-- Rear Height -->
                        <label for="Event" class="col-sm-3 control-label">Rear Height:</label>
                        <div class="col-sm-3">
                            {{ form.rear_height }}
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Front Weight -->
                        <label for="Event" class="col-sm-3 control-label">Front Weight:</label>
                        <div class="col-sm-3">
                            {{ form.front_weight }}
                        </div>

                        <!-- Rear Weight -->
                        <label for="Event" class="col-sm-3 control-label">Rear Weight:</label>
                        <div class="col-sm-3">
                            {{ form.rear_weight }}
                        </div>
                    </div>


                    <div class="form-line" data-type="control_divider" id="id_9">
                        <div id="cid_9" class="form-input-wide">
                            <div data-component="divider"
                                 style="border-bottom:3px solid #ffffff;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px;">
                            </div>
                        </div>
                        <p align="center" style="font-size: medium">AERODYNAMIC PARAMETERS</p>
                        <div id="cid_9" class="form-input-wide">
                            <div data-component="divider"
                                 style="border-bottom:3px solid #ffffff;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px;">
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <!-- DRS -->
                        <label for="Event" class="col-sm-3 control-label">DRS Active:</label>
                        <div class="col-sm-7">
                            {{ form.drs }}
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Front Wing F1 -->
                        <label for="Event" class="col-sm-3 control-label">Front Wing Flap 1:</label>
                        <div class="col-sm-3">
                            {{ form.fw_flap1_degrees }}
                        </div>

                        <!-- Front Wing F2 -->
                        <label for="Event" class="col-sm-3 control-label">Front Wing Flap 2:</label>
                        <div class="col-sm-3">
                            {{ form.fw_flap2_degrees }}
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Rear Wing F1 -->
                        <label for="Event" class="col-sm-3 control-label">Rear Wing Flap 1:</label>
                        <div class="col-sm-3">
                            {{ form.rw_flap1_degrees }}
                        </div>

                        <!-- Rear Wing F2 -->
                        <label for="Event" class="col-sm-3 control-label">Rear Wing Flap 2:</label>
                        <div class="col-sm-3">
                            {{ form.rw_flap2_degrees }}
                        </div>
                    </div>

                    <div class="form-line" data-type="control_divider" id="id_9">
                        <div id="cid_9" class="form-input-wide">
                            <div data-component="divider"
                                 style="border-bottom:3px solid #ffffff;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px;">
                            </div>
                        </div>
                        <p align="center" style="font-size: medium">COMMENTS</p>
                        <div id="cid_9" class="form-input-wide">
                            <div data-component="divider"
                                 style="border-bottom:3px solid #ffffff;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px;">
                            </div>
                        </div>

                    </div>

                    <div class="form-group" align="center">
                        <!-- DRS -->
                        <div class="col-sm-10" align="center">
                            {{ form.comments }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-default preview-add-button">
                                <span class="glyphicon glyphicon-plus"></span> SUBMIT
                            </button>
                        </div>
                    </div>


                </div>
            </div>
            <!-- / panel preview -->
        </div>
    </form>

</div>
<div class="col-sm-2"></div>
{% comment %}<!-- This part is not working as the POST must be done before the table is avaliable so it can render it! -->
<div class="form-group">
    <div class="col-sm-8 text-left">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Button with data-target
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {% include 'blocks/acceleration_request.html' %}
            </div>
        </div>
    </div>
</div>{% endcomment %}

</body>
</html>