{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Acceleration session</title>
</head>
<body>

<div class="page-header">
    {% include 'blocks/nav.html' %}
    <h1 align="center">Acceleration</h1>
</div>


<div>
    <form method="post">
        <div class="col-md-12">
            {% csrf_token %}
            <p>Testing Sessions:</p>
            {% render_table table %}
        </div>
    </form>

</div>

</body>
</html>