{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>My testing APP</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        .container {
            background-image: url({% static "img/cat10e.jpg" %});
        }
    </style>
</head>
<body>

<!-- Page header-->
<div class="page-header">

    {% include 'blocks/nav.html' %}
    <h1 align="center">CAT10e</h1>
</div>


<div class="container">
    <h1 style="color: aqua" align="center"> Welcome to ETSEIB Motorsport testing APP</h1>
</div>


</body>
</html>