<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>New session</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Page header-->
<div class="page-header">

    {% include 'blocks/nav.html' %}
    <h1 align="center">CAT10e</h1>
</div>
<div class="col-sm-12">
    <h3>Register a new testing session. </h3>
</div>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <div class="col-sm-8 text-left">
            {{ form }}
            <br>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12 text-right">
            <button type="submit" class="btn btn-default preview-add-button">
                <span class="glyphicon glyphicon-plus"></span> Submit
            </button>
        </div>
    </div>
</form>

</body>
</html>