<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/forms.css">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>New driver</title>
</head>
<body>
<!-- Page header-->
<div class="page-header">
    {% include 'blocks/nav.html' %}
    <h1 align="center">CAT10e</h1>
</div>

<div>
    <p align="center" font-size="50px">Welcome! <br>
        This page has not yet been implemented...
        Sorry, meanwhile I am sure you would love to watch some FS videos!</p>

</div>

<!-- panel preview -->
<form method="post">
    {% csrf_token %}
    <div class="col-sm-5">
        <h4>Register a new driver:</h4>
        <div class="panel panel-default">
            <div class="panel-body form-horizontal payment-form">
                <div class="form-group">
                    <!-- Name -->
                    <label for="name" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        {{ form.name }}
                    </div>
                </div>
                <div class="form-group">
                    <!-- Surname -->
                    <label for="Surname" class="col-sm-3 control-label">Surname</label>
                    <div class="col-sm-9">
                        {{ form.surname }}
                    </div>
                </div>
                <div class="form-group">
                    <!-- Email -->
                    <label for="Email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-group">
                    <!-- Weight -->
                    <label for="Weight" class="col-sm-3 control-label">Weight</label>
                    <div class="col-sm-9">
                        {{ form.weight }}
                    </div>
                </div>
                <div class="form-group">
                    <!-- Height -->
                    <label for="Height" class="col-sm-3 control-label">Height</label>
                    <div class="col-sm-9">
                        {{ form.height }}
                    </div>
                </div>
                <div class="form-group">
                    <!-- Gender -->
                    <label for="Gender" class="col-sm-3 control-label">Gender</label>
                    <div class="col-sm-9">
                        {{ form.gender }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="Birthday" class="col-sm-3 control-label">Birthday</label>
                    <div class="col-sm-9">
                        {{ form.birthday }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-default preview-add-button">
                            <span class="glyphicon glyphicon-plus"></span> Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- / panel preview -->
</form>

{% comment %}<form method="post">
    {% csrf_token %}
    {#    <!-- it renders the form with the names too '{ form.as_ul }'-->#}
    {#    {{ form.as_ul }}#}
    <div class="driver_form">
        <label for="inputName" class="driver_inputs">Name</label>
        {{ form.name }}
        <br>
        <label for="inputSurname" class="driver_inputs">Surname</label>
        {{ form.surname }}
    </div>
    <br>
    {{ form.gender }}
    <br>
    <button type="submit">Submit</button>
</form>{% endcomment %}

<!--
<div class="container">
    <h2>Register new driver</h2>
    <br>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputSurname">Surname</label>
                <input type="text" class="form-control" id="surname" placeholder="Surname">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="email" placeholder="etseibmotorsport@upc.edu">
            </div>
            <div class="form-group col-md-6">
                <label for="inputBirthday">Birthday</label>
                <input type="date" class="form-control" id="birthday" placeholder="DD-MM-YYYY">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputHeight">Height</label>
                <input type="text" class="form-control" id="height" placeholder="170cm">
            </div>
            <div class="form-group col-md-4">
                <label for="inputWeight">Weight</label>
                <input type="text" class="form-control" id="weight" placeholder="70.0kg">
            </div>
            <div class="form-group col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                           value="option1"
                           checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Female
                    </label>
                </div>
            </div>

        </div>
        <br><br>

        <button type="submit" class="btn btn-primary align-left">Submit</button>
    </form>
</div>
-->

</body>
</html>