<form method="POST">
    {% csrf_token %}
    <div class="row">
        <p class="span4 col-sm-4" style="font-size: large">Time Left 1:</p>
        <p class="span2 col-sm-5" style="font-size: medium">{{ run.l1_time }}</p>
        <p class="span4 col-sm-4" style="font-size: large">Time Left 2:</p>
        <p class="span2 col-sm-5" style="font-size: medium">{{ run.l2_time }}</p>
        <p class="span4 col-sm-4" style="font-size: large">Time Right 1:</p>
        <p class="span2 col-sm-5" style="font-size: medium">{{ run.r1_time }}</p>
        <p class="span4 col-sm-4" style="font-size: large">Time Right 2:</p>
        <p class="span2 col-sm-5" style="font-size: medium">{{ run.r2_time }}</p>
    </div>

    <div class="form-group">
        <div class="col-sm-12 text-right">
            <button name="SP" type="submit" class="btn btn-default preview-add-button">
                <span class="glyphicon glyphicon-plus"></span> SUBMIT
            </button>
        </div>
    </div>
</form>