<div class="row">
    <p class="span4 col-sm-5" style="font-weight: bold">Time Left 1:</p>
    <p class="span2 col-sm-6">{{ run.l1_time }}</p>
    <p class="span4 col-sm-5" style="font-weight: bold">Time Left 2:</p>
    <p class="span2 col-sm-6">{{ run.l2_time }}</p>
    <p class="span4 col-sm-5" style="font-weight: bold">Time Right 1:</p>
    <p class="span2 col-sm-6">{{ run.r1_time }}</p>
    <p class="span4 col-sm-5" style="font-weight: bold">Time Right 2:</p>
    <p class="span2 col-sm-6">{{ run.r2_time }}</p>
</div>
